* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 12px;
  height: 100vh;
}

.tip-cal {
  background-color: #f0f0f0;

  padding: 16px;
  border-radius: 5px;
}

.tip-cal label {
  font-size: 1.3rem;
  margin: 0 12px 0;
}

.bill input {
  margin: 0 0 0 41px;
  padding: 0 2px;
}

h1,
button {
  margin: 0 12px 0;
}

button {
  padding: 4px 8px;
  background-color: #fff;
  border: 1px solid #727272;
  border-radius: 4px;
}
